<%- include('partials/header.ejs') %>


<div class="p-5 mb-4 bg-body-tertiary rounded-3 align1">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold ">ToDoIt</h1>
      <p class="col-md-8 fs-4 ">Welcome to ToDoIt, your ultimate task management solution. Tired of forgetting important tasks and deadlines? Our user-friendly to-do list app is here to simplify your life. Organize your daily activities, set priorities, and stay on top of your goals effortlessly. Whether you're a professional seeking productivity or a student managing assignments, ToDoIt has got you covered. Get started now and unlock a world of productivity!</p>
      <a class="btn btn-primary btn-lg" type="button" href="/workspace">Get Started</a>
    </div>
  </div>

<%- include('partials/footer.ejs') %>